.footer{
  max-height: 75px;
  background-color:#e5e5e5;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  &__wrap{
    max-height: calc(75px - 1rem);
    overflow: auto;
    width: 100%;
  }
}