@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.text{
  font-family: 'Montserrat', sans-serif;
  color: #737373;
  letter-spacing: 0.8px;
}